<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
		<title>Vampire</title>
		<link rel="stylesheet" href="./css/cloud.css" />
		<link rel="stylesheet" href="./css/style.css" />
	</head>
	<body>
		<div class="sky">
			<!-- <div class="clouds_one"></div>
			<div class="clouds_two"></div>
			<div class="clouds_three"></div> -->
		</div>
		<div class="vampire">
			<div class="shade"></div>
			<div class="con">
				<div class="channels">
					<a href="/" class="web">
						<span>Web</span>	
					</a>
					<a href="/" class="moble">
						<span>Mobile</span>
					</a>
					<a href="/" class="min_program">
						<span>Min Program</span>
					</a>
					<a href="/admin/login" class="admin">
						<span>Admin</span>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
