.vampire {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url(../images/loginBg.png);
	background-size: cover;
}
.shade {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000;
	opacity: .8;
	filter: blur(10px);
}
.con {
	position: relative;
	height: 100vh;
	width: 100%;
}
.channels {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
}
a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: #39ba1f;
	font-weight: bold;
	
}

span {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #fff;
	line-height: 200px;
}
